__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.git
.gitignore
.vscode
.DS_Store

# Ignore massive raw datasets to keep container small
data/raw/
data/processed/*.npy
# Only keep the necessary metadata CSVs and demo dataset in data/
